html,
body {
    margin: 0;
    font-family: Montserrat;
}

.main {
    font-size: 22px;
}

.header {
    display: flex;
    justify-content: flex-end;
    height: 76px;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
}

#logo {
    flex-grow: 1;
    margin-left: 98px;
    width: 31px;
    height: 25px;
}

.header>.header_item {
    padding-left: 20px;
    padding-right: 20px;
}

.header>.header_item a {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 1.2px;
    color: #191919;
}

.header>.header_item :hover {
    color: #10c9c3;
}

.main_screen {
    display: flex;
    height: 100vh;
    background-image: url("images/macbook-chair.png");
    background-size: cover;
    background-position: center center;
}

.main_screen>div {
    width: 50%;
}

.main_screen_wrap {
    color: #1d1d1d;
    font-weight: 500;
    line-height: 48px;
    display: flex;
}

.main_screen_text {
    align-self: center;
    width: 90%;
}

.about_screen {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.about_screen>p {
    color: #787878;
}

.skills_screen {
    display: flex;
    flex-direction: column;
}

.skills_statistic {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 570px;
}

.skills_statistic>div {
    display: flex;
    width: 50%;
    background-color: #f8f9f9;
    align-items: center;
}

.skills_statistic_wrap {
    width: 100%;
    padding-left: 98px;
    padding-right: 85px;
}

.skills_statistic_wrap>h2 {
    margin-top: 0;
}

.skills_image {
    background-image: url("images/pen.jpg");
    background-size: cover;
    background-position: center right;

}

.skills_badges {
    height: 240px;
    background-color: #10c9c3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-items: center;
}

.skills_badge_item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-items: center;
}

.skills_badge_item>div {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.54px;
}

.skill_badge {
    margin-right: 27px;
}

/*components*/

.text_uppercase {
    text-transform: uppercase;
}

a.btn {
    display: block;
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 90px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 55px;
    letter-spacing: 1.2px;
}